$red: #FF4136;
$orange: #FF851B;
$navy: #001f3f;
$blue: #0074D9;
$aqua: #7FDBFF;
$maroon: #85144b;
$teal: #39CCCC;
$fuchsia: #F012BE;
$olive: #3D9970;
$purple: #B10DC9;
$green: #2ECC40;
$black: #111111;
$lime: #01FF70;
$gray: #AAAAAA;
$gray_light:  #CCCCCC;
$yellow: #FFDC00;
$silver: #DDDDDD;
$blue_alice: #F0F8FF;
$white: #FFFFFF;
$white_antique:#FAEBD7;
$aquamarine: #7FFFD4;
